<h1>Your projects</h1>
{% for project in projects %}
<ul>
  <li><a href="projects/{{ project.name }}">{{ project.name }}</a></li>
</ul>
{% endfor %}

<h2>Add new project</h2>
<form method="POST">
    <label for="name">Project name:</label>
    <input type="text" id="name" name="name"><br><br>
    <button type="submit">Add project</button>
</form>
